# Entorno virtual y variables privadas
.venv/
venv/
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Editores y sistema operativo
.vscode/
.idea/
.DS_Store
Thumbs.db
